.websiteBody{
    margin: 0;
  }.Page{
    display:block;
    margin:auto;
    width:100%;
    height:auto;
    pointer-events:auto;
  }
  .Page-outer{
    pointer-events:none;
    z-index:1;
  }
  .Frame{
    position:relative;
    z-index:2;
    pointer-events:none;
    width:100%;
    margin-left:0;
    height:5161px;
    min-width:200px;
    max-width:1920px;
    margin:auto;
    background-color:rgba(33, 33, 33, 1);
    overflow:hidden;
  }
  .Frame-outer{
    pointer-events:none;
    z-index:2;
  }
  .top-bar{
    position:fixed;
    z-index:65;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:200px;
    height:109.03px;
    margin-top:0px;
    margin-bottom:5051.97px;
    min-height:109.03px;
    top:0px;
    bottom:0;
    max-width:1920px;
  }
  .top-bar-outer{
    pointer-events:none;
    z-index:65;
    position:relative;
    display:flex;
  }
  .top-bar-1{
    position:relative;
    z-index:68;
    pointer-events:none;
    margin-right:30px;
    width:1777px;
    min-width:1777px;
    height:66px;
    margin-top:20px;
    margin-bottom:23.03px;
    min-height:66px;
    overflow:hidden;
  }
  .top-bar-1-outer{
    pointer-events:none;
    z-index:68;
    justify-content:flex-end;
    position:relative;
    display:flex;
  }
  .donate{
    position:relative;
    z-index:95;
    pointer-events:none;
    margin-left:1564px;
    width:133px;
    min-width:133px;
    height:44px;
    margin-top:11px;
    margin-bottom:11px;
    min-height:44px;
    overflow:hidden;
  }
  .donate-outer{
    pointer-events:none;
    z-index:95;
    position:relative;
    display:flex;
  }
  .frame-10{
    position:relative;
    z-index:96;
    pointer-events:none;
    margin-left:20px;
    width:93px;
    min-width:93px;
    height:44px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:44px;
    background-color:rgba(0, 148, 148, 1);
    border-radius:10px;
  }
  .frame-10-outer{
    pointer-events:none;
    z-index:96;
    position:relative;
    display:flex;
  }
  .donate-1{
    position:relative;
    z-index:97;
    pointer-events:none;
    margin-left:20px;
    width:53px;
    min-width:53px;
    margin-top:11px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .donate-1-outer{
    pointer-events:none;
    z-index:97;
    position:relative;
    display:flex;
  }
  .frame-2{
    position:relative;
    z-index:93;
    pointer-events:none;
    margin-left:1465px;
    width:79px;
    min-width:79px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-2-outer{
    pointer-events:none;
    z-index:93;
    position:relative;
    display:flex;
  }
  .store{
    position:relative;
    z-index:94;
    pointer-events:none;
    margin-left:20px;
    width:39px;
    min-width:39px;
    margin-top:11px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .store-outer{
    pointer-events:none;
    z-index:94;
    position:relative;
    display:flex;
  }
  .frame-5{
    position:relative;
    z-index:89;
    pointer-events:none;
    margin-left:1303px;
    width:142px;
    min-width:142px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-5-outer{
    pointer-events:none;
    z-index:89;
    position:relative;
    display:flex;
  }
  .chevron-down{
    position:relative;
    z-index:91;
    pointer-events:none;
    margin-left:98px;
    width:24px;
    min-width:24px;
    height:24px;
    margin-top:10px;
    margin-bottom:10px;
    min-height:24px;
    overflow:hidden;
  }
  .chevron-down-outer{
    pointer-events:none;
    z-index:91;
    position:relative;
    display:flex;
  }
  .vector-3{
    position:relative;
    z-index:92;
    pointer-events:none;
    margin-left:20.833333333333332%;
    width:58.333333333333336%;
    height:33.333333333333336%;
    margin-top:33.333333333333336%;
    content:url(assets/images/vector_3.png);
  }
  .vector-3-outer{
    pointer-events:none;
    z-index:92;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .about-us{
    position:relative;
    z-index:90;
    pointer-events:none;
    margin-left:20px;
    width:68px;
    min-width:68px;
    margin-top:-33px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .about-us-outer{
    pointer-events:none;
    z-index:90;
    position:relative;
    display:flex;
  }
  .frame-6{
    position:relative;
    z-index:85;
    pointer-events:none;
    margin-left:1153px;
    width:130px;
    min-width:130px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-6-outer{
    pointer-events:none;
    z-index:85;
    position:relative;
    display:flex;
  }
  .chevron-down-1{
    position:relative;
    z-index:87;
    pointer-events:none;
    margin-left:86px;
    width:24px;
    min-width:24px;
    height:24px;
    margin-top:10px;
    margin-bottom:10px;
    min-height:24px;
    overflow:hidden;
  }
  .chevron-down-1-outer{
    pointer-events:none;
    z-index:87;
    position:relative;
    display:flex;
  }
  .vector-4{
    position:relative;
    z-index:88;
    pointer-events:none;
    margin-left:20.833333333333332%;
    width:58.333333333333336%;
    height:33.333333333333336%;
    margin-top:33.333333333333336%;
    content:url(assets/images/vector_4.png);
  }
  .vector-4-outer{
    pointer-events:none;
    z-index:88;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .contact{
    position:relative;
    z-index:86;
    pointer-events:none;
    margin-left:20px;
    width:56px;
    min-width:56px;
    margin-top:-33px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .contact-outer{
    pointer-events:none;
    z-index:86;
    position:relative;
    display:flex;
  }
  .frame-3{
    position:relative;
    z-index:81;
    pointer-events:none;
    margin-left:1015px;
    width:118px;
    min-width:118px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-3-outer{
    pointer-events:none;
    z-index:81;
    position:relative;
    display:flex;
  }
  .chevron-down-2{
    position:relative;
    z-index:83;
    pointer-events:none;
    margin-left:74px;
    width:24px;
    min-width:24px;
    height:24px;
    margin-top:10px;
    margin-bottom:10px;
    min-height:24px;
    overflow:hidden;
  }
  .chevron-down-2-outer{
    pointer-events:none;
    z-index:83;
    position:relative;
    display:flex;
  }
  .vector-5{
    position:relative;
    z-index:84;
    pointer-events:none;
    margin-left:20.833333333333332%;
    width:58.333333333333336%;
    height:33.333333333333336%;
    margin-top:33.333333333333336%;
    content:url(assets/images/vector_5.png);
  }
  .vector-5-outer{
    pointer-events:none;
    z-index:84;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .media{
    position:relative;
    z-index:82;
    pointer-events:none;
    margin-left:20px;
    width:44px;
    min-width:44px;
    margin-top:-33px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .media-outer{
    pointer-events:none;
    z-index:82;
    position:relative;
    display:flex;
  }
  .frame-7{
    position:relative;
    z-index:77;
    pointer-events:none;
    margin-left:869px;
    width:126px;
    min-width:126px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-7-outer{
    pointer-events:none;
    z-index:77;
    position:relative;
    display:flex;
  }
  .chevron-down-3{
    position:relative;
    z-index:79;
    pointer-events:none;
    margin-left:82px;
    width:24px;
    min-width:24px;
    height:24px;
    margin-top:10px;
    margin-bottom:10px;
    min-height:24px;
    overflow:hidden;
  }
  .chevron-down-3-outer{
    pointer-events:none;
    z-index:79;
    position:relative;
    display:flex;
  }
  .vector-6{
    position:relative;
    z-index:80;
    pointer-events:none;
    margin-left:20.833333333333332%;
    width:58.333333333333336%;
    height:33.333333333333336%;
    margin-top:33.333333333333336%;
    content:url(assets/images/vector_6.png);
  }
  .vector-6-outer{
    pointer-events:none;
    z-index:80;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .robots{
    position:relative;
    z-index:78;
    pointer-events:none;
    margin-left:20px;
    width:52px;
    min-width:52px;
    margin-top:-33px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .robots-outer{
    pointer-events:none;
    z-index:78;
    position:relative;
    display:flex;
  }
  .frame-4{
    position:relative;
    z-index:73;
    pointer-events:none;
    margin-left:707px;
    width:142px;
    min-width:142px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-4-outer{
    pointer-events:none;
    z-index:73;
    position:relative;
    display:flex;
  }
  .chevron-down-4{
    position:relative;
    z-index:75;
    pointer-events:none;
    margin-left:98px;
    width:24px;
    min-width:24px;
    height:24px;
    margin-top:10px;
    margin-bottom:10px;
    min-height:24px;
    overflow:hidden;
  }
  .chevron-down-4-outer{
    pointer-events:none;
    z-index:75;
    position:relative;
    display:flex;
  }
  .vector-7{
    position:relative;
    z-index:76;
    pointer-events:none;
    margin-left:20.833333333333332%;
    width:58.333333333333336%;
    height:33.333333333333336%;
    margin-top:33.333333333333336%;
    content:url(assets/images/vector_7.png);
  }
  .vector-7-outer{
    pointer-events:none;
    z-index:76;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .sponsors{
    position:relative;
    z-index:74;
    pointer-events:none;
    margin-left:20px;
    width:68px;
    min-width:68px;
    margin-top:-33px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .sponsors-outer{
    pointer-events:none;
    z-index:74;
    position:relative;
    display:flex;
  }
  .frame-9{
    position:relative;
    z-index:69;
    pointer-events:none;
    margin-left:543px;
    width:144px;
    min-width:144px;
    height:44px;
    margin-top:-55px;
    margin-bottom:11px;
    min-height:44px;
    border-radius:10px;
  }
  .frame-9-outer{
    pointer-events:none;
    z-index:69;
    position:relative;
    display:flex;
  }
  .chevron-down-5{
    position:relative;
    z-index:71;
    pointer-events:none;
    margin-left:100px;
    width:24px;
    min-width:24px;
    height:24px;
    margin-top:10px;
    margin-bottom:10px;
    min-height:24px;
    overflow:hidden;
  }
  .chevron-down-5-outer{
    pointer-events:none;
    z-index:71;
    position:relative;
    display:flex;
  }
  .vector-8{
    position:relative;
    z-index:72;
    pointer-events:none;
    margin-left:20.833333333333332%;
    width:58.333333333333336%;
    height:33.333333333333336%;
    margin-top:33.333333333333336%;
    content:url(assets/images/vector_8.png);
  }
  .vector-8-outer{
    pointer-events:none;
    z-index:72;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .programs{
    position:relative;
    z-index:70;
    pointer-events:none;
    margin-left:20px;
    width:70px;
    min-width:70px;
    margin-top:-33px;
    margin-bottom:11px;
    min-height:22px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:16px;
    letter-spacing:-0.32px;
    line-height:22px;
  }
  .programs-outer{
    pointer-events:none;
    z-index:70;
    position:relative;
    display:flex;
  }
  .menu{
    position:relative;
    z-index:98;
    pointer-events:none;
    margin-left:1717px;
    width:50px;
    min-width:50px;
    height:38px;
    margin-top:-52px;
    margin-bottom:14px;
    min-height:38px;
    overflow:hidden;
  }
  .menu-outer{
    pointer-events:none;
    z-index:98;
    position:relative;
    display:flex;
  }
  .vector{
    position:relative;
    z-index:101;
    pointer-events:none;
    margin-left:36.00000000000005%;
    width:55.34000000000008%;
    height:7.894736842105263%;
    margin-top:54.00000000000008%;
    content:url(assets/images/vector.png);
  }
  .vector-outer{
    pointer-events:none;
    z-index:101;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-1{
    position:relative;
    z-index:100;
    pointer-events:none;
    margin-left:36.00000000000005%;
    width:55.34000000000008%;
    height:7.894736842105263%;
    margin-top:16.00000000000002%;
    content:url(assets/images/vector_1.png);
  }
  .vector-1-outer{
    pointer-events:none;
    z-index:100;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-2{
    position:relative;
    z-index:99;
    pointer-events:none;
    margin-left:36.00000000000005%;
    width:55.34000000000008%;
    height:7.894736842105263%;
    margin-top:36.00000000000005%;
    content:url(assets/images/vector_2.png);
  }
  .vector-2-outer{
    pointer-events:none;
    z-index:99;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .white-no-background{
    position:relative;
    z-index:66;
    pointer-events:none;
    margin-left:20px;
    width:73px;
    min-width:73px;
    height:64.92px;
    margin-top:-89.03px;
    margin-bottom:24.11px;
    min-height:64.92px;
  }
  .white-no-background-outer{
    pointer-events:none;
    z-index:66;
    position:relative;
    display:flex;
  }
  .white-no-background-1{
    position:relative;
    z-index:67;
    pointer-events:none;
    margin-left:0%;
    width:100%;
    height:100%;
    margin-top:0%;
    content:url(assets/images/white_no_background.png);
  }
  .white-no-background-1-outer{
    pointer-events:none;
    z-index:67;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .scrolling-stuff{
    position:relative;
    z-index:3;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:5052px;
    margin-top:109px;
    margin-bottom:0px;
    min-height:5052px;
  }
  .scrolling-stuff-outer{
    pointer-events:none;
    z-index:3;
    position:relative;
    display:flex;
  }
  .title-screen{
    position:relative;
    z-index:4;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:991px;
    margin-top:0px;
    margin-bottom:4061px;
    min-height:991px;
  }
  .title-screen-outer{
    pointer-events:none;
    z-index:4;
    position:relative;
    display:flex;
  }
  .stylized-skyhook-1{
    position:relative;
    z-index:5;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:1100px;
    margin-top:-109px;
    margin-bottom:0px;
    min-height:1100px;
    content:url(assets/images/stylized_skyhook_1.png);
  }
  .stylized-skyhook-1-outer{
    pointer-events:none;
    z-index:5;
    position:relative;
    display:flex;
  }
  .white-no-background-2{
    position:relative;
    z-index:9;
    pointer-events:none;
    margin-left:439px;
    width:1043px;
    min-width:1043px;
    height:172.25px;
    margin-top:-701px;
    margin-bottom:528.75px;
    min-height:172.25px;
  }
  .white-no-background-2-outer{
    pointer-events:none;
    z-index:9;
    position:relative;
    display:flex;
  }
  .white-no-background-3{
    position:relative;
    z-index:10;
    pointer-events:none;
    margin-left:0%;
    width:100%;
    height:100%;
    margin-top:0%;
    content:url(assets/images/white_no_background_1.png);
  }
  .white-no-background-3-outer{
    pointer-events:none;
    z-index:10;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .making-robots-since-{
    position:relative;
    z-index:6;
    pointer-events:none;
    margin-left:694px;
    width:534px;
    min-width:534px;
    margin-top:-529px;
    margin-bottom:450px;
    min-height:79px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:25px;
    letter-spacing:-0.5px;
    line-height:34px;
  }
  .making-robots-since--outer{
    pointer-events:none;
    z-index:6;
    position:relative;
    display:flex;
  }
  .chevron-down-6{
    position:relative;
    z-index:7;
    pointer-events:none;
    margin-left:923px;
    width:74px;
    min-width:74px;
    height:74px;
    margin-top:-119px;
    margin-bottom:45px;
    min-height:74px;
    overflow:hidden;
  }
  .chevron-down-6-outer{
    pointer-events:none;
    z-index:7;
    position:relative;
    display:flex;
  }
  .vector-20{
    position:relative;
    z-index:8;
    pointer-events:none;
    margin-left:22.972972972972972%;
    width:55.4054054054054%;
    height:30.405405405405407%;
    margin-top:35.13513513513514%;
    content:url(assets/images/vector_20.png);
  }
  .vector-20-outer{
    pointer-events:none;
    z-index:8;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .who-are-the-robojack{
    position:relative;
    z-index:11;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:691px;
    margin-top:-4061px;
    margin-bottom:3370px;
    min-height:691px;
    overflow:hidden;
  }
  .who-are-the-robojack-outer{
    pointer-events:none;
    z-index:11;
    position:relative;
    display:flex;
  }
  .who-are-the-robojack-1{
    position:relative;
    z-index:12;
    pointer-events:none;
    margin-left:748px;
    width:425px;
    min-width:425px;
    margin-top:91px;
    margin-bottom:564px;
    min-height:36px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:36px;
    letter-spacing:-0.72px;
    line-height:125%;
  }
  .who-are-the-robojack-1-outer{
    pointer-events:none;
    z-index:12;
    position:relative;
    display:flex;
  }
  .line-2-4{
    position:relative;
    z-index:16;
    pointer-events:none;
    margin-left:1252px;
    width:588px;
    min-width:588px;
    margin-top:-581px;
    margin-bottom:581px;
    min-height:undefinedpx;
    background-color:rgba(255, 255, 255, 1);
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-2-4-outer{
    pointer-events:none;
    z-index:16;
    position:relative;
    display:flex;
  }
  .line-1-4{
    position:relative;
    z-index:15;
    pointer-events:none;
    margin-left:80px;
    width:588px;
    min-width:588px;
    margin-top:-581px;
    margin-bottom:581px;
    min-height:undefinedpx;
    background-color:rgba(255, 255, 255, 1);
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-1-4-outer{
    pointer-events:none;
    z-index:15;
    position:relative;
    display:flex;
  }
  .i-ncknw5x-x4-1{
    position:relative;
    z-index:14;
    pointer-events:none;
    margin-left:80px;
    width:840px;
    min-width:840px;
    height:364px;
    margin-top:-479px;
    margin-bottom:115px;
    min-height:364px;
    background-image:url(assets/images/i_ncknw5x_x4_1.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    filter:drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.25));
    border-radius:10px;
  }
  .i-ncknw5x-x4-1-outer{
    pointer-events:none;
    z-index:14;
    position:relative;
    display:flex;
  }
  .lorem-ipsum-dolor-si-2{
    position:relative;
    z-index:13;
    pointer-events:none;
    margin-left:1000px;
    width:840px;
    min-width:840px;
    margin-top:-479px;
    margin-bottom:347px;
    min-height:132px;
    text-align:left;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:32px;
  }
  .lorem-ipsum-dolor-si-2-outer{
    pointer-events:none;
    z-index:13;
    position:relative;
    display:flex;
  }
  .what-we-do{
    position:relative;
    z-index:17;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:779px;
    margin-top:-3370px;
    margin-bottom:2591px;
    min-height:779px;
  }
  .what-we-do-outer{
    pointer-events:none;
    z-index:17;
    position:relative;
    display:flex;
  }
  .rectangle-2-1{
    position:relative;
    z-index:18;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:779px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:779px;
    content:url(assets/images/rectangle_2_1.png);
  }
  .rectangle-2-1-outer{
    pointer-events:none;
    z-index:18;
    position:relative;
    display:flex;
  }
  .what-do-we-do-{
    position:relative;
    z-index:20;
    pointer-events:none;
    margin-left:828px;
    width:265px;
    min-width:265px;
    margin-top:-688px;
    margin-bottom:652px;
    min-height:36px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:36px;
    letter-spacing:-0.72px;
    line-height:125%;
  }
  .what-do-we-do--outer{
    pointer-events:none;
    z-index:20;
    position:relative;
    display:flex;
  }
  .line-2-3{
    position:relative;
    z-index:23;
    pointer-events:none;
    margin-left:1172px;
    width:668px;
    min-width:668px;
    margin-top:-669px;
    margin-bottom:669px;
    min-height:undefinedpx;
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-2-3-outer{
    pointer-events:none;
    z-index:23;
    position:relative;
    display:flex;
  }
  .line-1-3{
    position:relative;
    z-index:22;
    pointer-events:none;
    margin-left:80px;
    width:668px;
    min-width:668px;
    margin-top:-669px;
    margin-bottom:669px;
    min-height:undefinedpx;
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-1-3-outer{
    pointer-events:none;
    z-index:22;
    position:relative;
    display:flex;
  }
  .i-ncknw5x-x4-2{
    position:relative;
    z-index:21;
    pointer-events:none;
    margin-left:1000px;
    width:840px;
    min-width:840px;
    height:432px;
    margin-top:-567px;
    margin-bottom:135px;
    min-height:432px;
    background-image:url(assets/images/i_ncknw5x_x4_2.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    filter:drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.25));
    border-radius:10px;
  }
  .i-ncknw5x-x4-2-outer{
    pointer-events:none;
    z-index:21;
    position:relative;
    display:flex;
  }
  .lorem-ipsum-dolor-si-1{
    position:relative;
    z-index:19;
    pointer-events:none;
    margin-left:80px;
    width:840px;
    min-width:840px;
    margin-top:-567px;
    margin-bottom:369px;
    min-height:198px;
    text-align:right;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:32px;
  }
  .lorem-ipsum-dolor-si-1-outer{
    pointer-events:none;
    z-index:19;
    position:relative;
    display:flex;
  }
  .our-robots{
    position:relative;
    z-index:24;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:1316px;
    margin-top:-2591px;
    margin-bottom:1275px;
    min-height:1316px;
    overflow:hidden;
  }
  .our-robots-outer{
    pointer-events:none;
    z-index:24;
    position:relative;
    display:flex;
  }
  .our-robots-1{
    position:relative;
    z-index:25;
    pointer-events:none;
    margin-left:868px;
    width:185px;
    min-width:185px;
    margin-top:91px;
    margin-bottom:1189px;
    min-height:36px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:36px;
    letter-spacing:-0.72px;
    line-height:125%;
  }
  .our-robots-1-outer{
    pointer-events:none;
    z-index:25;
    position:relative;
    display:flex;
  }
  .line-1-2{
    position:relative;
    z-index:27;
    pointer-events:none;
    margin-left:79px;
    width:711px;
    min-width:711px;
    height:3px;
    margin-top:-1209px;
    margin-bottom:1206px;
    min-height:3px;
    content:url(assets/images/line_1.png);
  }
  .line-1-2-outer{
    pointer-events:none;
    z-index:27;
    position:relative;
    display:flex;
  }
  .line-2-2{
    position:relative;
    z-index:28;
    pointer-events:none;
    margin-left:1133px;
    width:707px;
    min-width:707px;
    margin-top:-1206px;
    margin-bottom:1206px;
    min-height:undefinedpx;
    background-color:rgba(255, 255, 255, 1);
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-2-2-outer{
    pointer-events:none;
    z-index:28;
    position:relative;
    display:flex;
  }
  .lorem-ipsum-dolor-si{
    position:relative;
    z-index:26;
    pointer-events:none;
    margin-left:329px;
    width:1262px;
    min-width:1262px;
    margin-top:-1104px;
    margin-bottom:1038px;
    min-height:66px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:32px;
  }
  .lorem-ipsum-dolor-si-outer{
    pointer-events:none;
    z-index:26;
    position:relative;
    display:flex;
  }
  .images{
    position:relative;
    z-index:29;
    pointer-events:none;
    margin-left:329px;
    width:1262px;
    min-width:1262px;
    height:857px;
    margin-top:-972px;
    margin-bottom:115px;
    min-height:857px;
    filter:drop-shadow(2px 3px 10px rgba(0, 0, 0, 0.25));
    border-radius:10px;
    overflow:hidden;
  }
  .images-outer{
    pointer-events:none;
    z-index:29;
    position:relative;
    display:flex;
  }
  .image-1{
    position:relative;
    z-index:30;
    pointer-events:none;
    margin-left:-169px;
    width:1600px;
    min-width:1600px;
    height:930px;
    margin-top:-17px;
    margin-bottom:-56px;
    min-height:930px;
    content:url(assets/images/image_1.png);
  }
  .image-1-outer{
    pointer-events:none;
    z-index:30;
    position:relative;
    display:flex;
  }
  .chevron-right{
    position:relative;
    z-index:43;
    pointer-events:none;
    margin-left:1631px;
    width:74px;
    min-width:74px;
    height:74px;
    margin-top:-580px;
    margin-bottom:506px;
    min-height:74px;
    overflow:hidden;
  }
  .chevron-right-outer{
    pointer-events:none;
    z-index:43;
    position:relative;
    display:flex;
  }
  .vector-9{
    position:relative;
    z-index:44;
    pointer-events:none;
    margin-left:35.13513513513514%;
    width:30.405405405405407%;
    height:55.4054054054054%;
    margin-top:22.972972972972972%;
    content:url(assets/images/vector_9.png);
  }
  .vector-9-outer{
    pointer-events:none;
    z-index:44;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .chevron-left{
    position:relative;
    z-index:41;
    pointer-events:none;
    margin-left:215px;
    width:74px;
    min-width:74px;
    height:74px;
    margin-top:-580px;
    margin-bottom:506px;
    min-height:74px;
    overflow:hidden;
  }
  .chevron-left-outer{
    pointer-events:none;
    z-index:41;
    position:relative;
    display:flex;
  }
  .vector-10{
    position:relative;
    z-index:42;
    pointer-events:none;
    margin-left:35.13513513513514%;
    width:30.405405405405407%;
    height:55.4054054054054%;
    margin-top:22.972972972972972%;
    content:url(assets/images/vector_10.png);
  }
  .vector-10-outer{
    pointer-events:none;
    z-index:42;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .dots{
    position:relative;
    z-index:31;
    pointer-events:none;
    margin-left:-0.75px;
    width:261.25px;
    height:78.58px;
    margin-top:1164.58px;
    overflow:hidden;
  }
  .dots-outer{
    pointer-events:none;
    z-index:31;
    justify-content:center;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
    align-items:center;
  }
  .vector-11{
    position:relative;
    z-index:40;
    pointer-events:none;
    margin-left:91.86602870813392%;
    width:4.0497607655502375%;
    height:13.463985747009417%;
    margin-top:13.014354066985641%;
    content:url(assets/images/vector_11.png);
  }
  .vector-11-outer{
    pointer-events:none;
    z-index:40;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-12{
    position:relative;
    z-index:39;
    pointer-events:none;
    margin-left:80.76555023923441%;
    width:4.0497607655502375%;
    height:13.463985747009417%;
    margin-top:13.014354066985641%;
    content:url(assets/images/vector_12.png);
  }
  .vector-12-outer{
    pointer-events:none;
    z-index:39;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-13{
    position:relative;
    z-index:38;
    pointer-events:none;
    margin-left:70.04784688995215%;
    width:4.049760765550239%;
    height:13.463985747009417%;
    margin-top:13.014354066985646%;
    content:url(assets/images/vector_13.png);
  }
  .vector-13-outer{
    pointer-events:none;
    z-index:38;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-14{
    position:relative;
    z-index:37;
    pointer-events:none;
    margin-left:58.94736842105263%;
    width:4.049760765550239%;
    height:13.463985747009417%;
    margin-top:13.014354066985646%;
    content:url(assets/images/vector_14.png);
  }
  .vector-14-outer{
    pointer-events:none;
    z-index:37;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-15{
    position:relative;
    z-index:36;
    pointer-events:none;
    margin-left:47.84688995215311%;
    width:4.049760765550239%;
    height:13.463985747009417%;
    margin-top:13.014354066985646%;
    content:url(assets/images/vector_15.png);
  }
  .vector-15-outer{
    pointer-events:none;
    z-index:36;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-16{
    position:relative;
    z-index:35;
    pointer-events:none;
    margin-left:37.129186602870824%;
    width:4.04976076555024%;
    height:13.463985747009417%;
    margin-top:13.014354066985648%;
    content:url(assets/images/vector_16.png);
  }
  .vector-16-outer{
    pointer-events:none;
    z-index:35;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-17{
    position:relative;
    z-index:34;
    pointer-events:none;
    margin-left:26.028708133971296%;
    width:4.04976076555024%;
    height:13.463985747009417%;
    margin-top:13.014354066985648%;
    content:url(assets/images/vector_17.png);
  }
  .vector-17-outer{
    pointer-events:none;
    z-index:34;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-18{
    position:relative;
    z-index:33;
    pointer-events:none;
    margin-left:15.311004784688999%;
    width:4.04976076555024%;
    height:13.463985747009417%;
    margin-top:13.014354066985648%;
    content:url(assets/images/vector_18.png);
  }
  .vector-18-outer{
    pointer-events:none;
    z-index:33;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .vector-19{
    position:relative;
    z-index:32;
    pointer-events:none;
    margin-left:4.210526315789474%;
    width:4.04976076555024%;
    height:13.463985747009417%;
    margin-top:13.014354066985648%;
    content:url(assets/images/vector_19.png);
  }
  .vector-19-outer{
    pointer-events:none;
    z-index:32;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    left:0;
    top:0;
  }
  .our-sponsors{
    position:relative;
    z-index:45;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:779px;
    margin-top:-1275px;
    margin-bottom:496px;
    min-height:779px;
  }
  .our-sponsors-outer{
    pointer-events:none;
    z-index:45;
    position:relative;
    display:flex;
  }
  .rectangle-2{
    position:relative;
    z-index:46;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:779px;
    margin-top:0px;
    margin-bottom:0px;
    min-height:779px;
    content:url(assets/images/rectangle_2.png);
  }
  .rectangle-2-outer{
    pointer-events:none;
    z-index:46;
    position:relative;
    display:flex;
  }
  .our-sponsors-1{
    position:relative;
    z-index:47;
    pointer-events:none;
    margin-left:850px;
    width:221px;
    min-width:221px;
    margin-top:-688px;
    margin-bottom:652px;
    min-height:36px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:36px;
    letter-spacing:-0.72px;
    line-height:125%;
  }
  .our-sponsors-1-outer{
    pointer-events:none;
    z-index:47;
    position:relative;
    display:flex;
  }
  .line-2-1{
    position:relative;
    z-index:49;
    pointer-events:none;
    transform:rotate(0.000005008956130975318deg);
    margin-left:1151px;
    width:689px;
    min-width:689px;
    margin-top:-669px;
    margin-bottom:669px;
    min-height:undefinedpx;
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-2-1-outer{
    pointer-events:none;
    z-index:49;
    position:relative;
    display:flex;
  }
  .line-1-1{
    position:relative;
    z-index:48;
    pointer-events:none;
    margin-left:80px;
    width:690px;
    min-width:690px;
    margin-top:-669px;
    margin-bottom:669px;
    min-height:undefinedpx;
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-1-1-outer{
    pointer-events:none;
    z-index:48;
    position:relative;
    display:flex;
  }
  .fca-1{
    position:relative;
    z-index:50;
    pointer-events:none;
    margin-left:199px;
    width:480px;
    min-width:480px;
    height:227px;
    margin-top:-616px;
    margin-bottom:389px;
    min-height:227px;
    content:url(assets/images/fca_1.png);
  }
  .fca-1-outer{
    pointer-events:none;
    z-index:50;
    position:relative;
    display:flex;
  }
  .brose-1{
    position:relative;
    z-index:51;
    pointer-events:none;
    margin-left:1293px;
    width:406px;
    min-width:406px;
    height:144px;
    margin-top:-586px;
    margin-bottom:442px;
    min-height:144px;
    content:url(assets/images/brose_1.png);
  }
  .brose-1-outer{
    pointer-events:none;
    z-index:51;
    position:relative;
    display:flex;
  }
  .emabond-1{
    position:relative;
    z-index:53;
    pointer-events:none;
    margin-left:816px;
    width:288px;
    min-width:288px;
    height:212px;
    margin-top:-581px;
    margin-bottom:369px;
    min-height:212px;
    content:url(assets/images/emabond_1.png);
  }
  .emabond-1-outer{
    pointer-events:none;
    z-index:53;
    position:relative;
    display:flex;
  }
  .meritor-1{
    position:relative;
    z-index:55;
    pointer-events:none;
    margin-left:244px;
    width:461px;
    min-width:461px;
    height:216px;
    margin-top:-369px;
    margin-bottom:153px;
    min-height:216px;
    content:url(assets/images/meritor_1.png);
  }
  .meritor-1-outer{
    pointer-events:none;
    z-index:55;
    position:relative;
    display:flex;
  }
  .autopetslogo-1{
    position:relative;
    z-index:52;
    pointer-events:none;
    margin-left:778px;
    width:366px;
    min-width:366px;
    height:366px;
    margin-top:-359px;
    margin-bottom:-7px;
    min-height:366px;
    content:url(assets/images/autopetslogo_1.png);
  }
  .autopetslogo-1-outer{
    pointer-events:none;
    z-index:52;
    position:relative;
    display:flex;
  }
  .ou-1{
    position:relative;
    z-index:54;
    pointer-events:none;
    margin-left:1217px;
    width:482px;
    min-width:482px;
    height:203px;
    margin-top:-327px;
    margin-bottom:124px;
    min-height:203px;
    content:url(assets/images/ou_1.png);
  }
  .ou-1-outer{
    pointer-events:none;
    z-index:54;
    position:relative;
    display:flex;
  }
  .contact-1{
    position:relative;
    z-index:56;
    pointer-events:none;
    margin-left:0px;
    width:1920px;
    min-width:1920px;
    height:496px;
    margin-top:-496px;
    margin-bottom:0px;
    min-height:496px;
    overflow:hidden;
  }
  .contact-1-outer{
    pointer-events:none;
    z-index:56;
    position:relative;
    display:flex;
  }
  .contact-us{
    position:relative;
    z-index:57;
    pointer-events:none;
    margin-left:872px;
    width:177px;
    min-width:177px;
    margin-top:91px;
    margin-bottom:369px;
    min-height:36px;
    text-align:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:36px;
    letter-spacing:-0.72px;
    line-height:125%;
  }
  .contact-us-outer{
    pointer-events:none;
    z-index:57;
    position:relative;
    display:flex;
  }
  .line-2{
    position:relative;
    z-index:63;
    pointer-events:none;
    transform:rotate(0.000005008956130975318deg);
    margin-left:1129px;
    width:711px;
    min-width:711px;
    margin-top:-386px;
    margin-bottom:386px;
    min-height:undefinedpx;
    background-color:rgba(255, 255, 255, 1);
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-2-outer{
    pointer-events:none;
    z-index:63;
    position:relative;
    display:flex;
  }
  .line-1{
    position:relative;
    z-index:62;
    pointer-events:none;
    margin-left:80px;
    width:712px;
    min-width:712px;
    margin-top:-386px;
    margin-bottom:386px;
    min-height:undefinedpx;
    background-color:rgba(255, 255, 255, 1);
    border:3px solid rgba(255, 255, 255, 1);
  }
  .line-1-outer{
    pointer-events:none;
    z-index:62;
    position:relative;
    display:flex;
  }
  .tba-1{
    position:relative;
    z-index:64;
    pointer-events:none;
    margin-left:1145px;
    width:34px;
    min-width:34px;
    height:52px;
    margin-top:-314px;
    margin-bottom:262px;
    min-height:52px;
    content:url(assets/images/tba_1.png);
  }
  .tba-1-outer{
    pointer-events:none;
    z-index:64;
    position:relative;
    display:flex;
  }
  .insta-1{
    position:relative;
    z-index:61;
    pointer-events:none;
    margin-left:934px;
    width:52px;
    min-width:52px;
    height:52px;
    margin-top:-314px;
    margin-bottom:262px;
    min-height:52px;
    content:url(assets/images/insta_1.png);
  }
  .insta-1-outer{
    pointer-events:none;
    z-index:61;
    position:relative;
    display:flex;
  }
  .facebook-1{
    position:relative;
    z-index:60;
    pointer-events:none;
    margin-left:751px;
    width:24px;
    min-width:24px;
    height:52px;
    margin-top:-314px;
    margin-bottom:262px;
    min-height:52px;
    content:url(assets/images/facebook_1.png);
  }
  .facebook-1-outer{
    pointer-events:none;
    z-index:60;
    position:relative;
    display:flex;
  }
  .address--2800-waukeg{
    position:relative;
    z-index:59;
    pointer-events:none;
    margin-left:1018px;
    width:256px;
    min-width:256px;
    margin-top:-190px;
    margin-bottom:91px;
    min-height:99px;
    text-align:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:28px;
  }
  .address--2800-waukeg-outer{
    pointer-events:none;
    z-index:59;
    position:relative;
    display:flex;
  }
  .address--2800-waukeg-1{
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:28px;
  }
  .address--2800-waukeg-2{
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:28px;
  }
  .email--contact-team3{
    position:relative;
    z-index:58;
    pointer-events:none;
    margin-left:649px;
    width:254px;
    min-width:254px;
    margin-top:-190px;
    margin-bottom:124px;
    min-height:66px;
    text-align:center;
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:28px;
  }
  .email--contact-team3-outer{
    pointer-events:none;
    z-index:58;
    position:relative;
    display:flex;
  }
  .email--contact-team3-1{
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:700;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:28px;
  }
  .email--contact-team3-2{
    color:rgba(255, 255, 255, 1);
    font-style:normal;
    font-family:Nunito Sans;
    font-weight:400;
    font-size:24px;
    letter-spacing:-0.48px;
    line-height:28px;
  }
  